@font-face {
    font-family: 'MakroXM';
    src: url(MakroXM-Black.WOFF) format("woff")
         url(MakroXM-Black.ttf) format("truetype");
}

@font-face {
    font-family: 'GothamPro';
    src: url(GothamPro.WOFF) format("woff")
         url(GothamPro.ttf) format("truetype");
}
